:root {
    --main-color: rgb(255, 98, 1); /* 主要なブランドカラーを設定 */
    --text-color: rgb(255, 116, 29); /* テキスト用のカラーを設定 */
    --bg-color: #ffffff; /* 全体の背景色を白に設定 */
    --container-color: #dbdbdb; /* コンテナ背景色を設定 */
}

body {
    color: var(--text-color); /* CSS変数を使用してテキストカラーを設定 */
    background: var(--bg-color); /* CSS変数を使用して背景色を設定 */
}

img {
    width: 100%; /* 画像の幅を親要素に合わせる */
}

section {
    padding: 4rem 0 2rem; /* 上下の余白を適切に設定 */
}

.container {
    max-width: 1070px; /* コンテナの最大幅を1070pxに設定 */
    margin: auto; /* 中央揃え */
    width: 100%; /* 幅を親要素に合わせる */
}

header {
    position: fixed; /* ヘッダーを画面上部に固定 */
    width: 100%; /* 幅を100%に設定 */
    top: 0; /* 上端に配置 */
    left: 0; /* 左端に配置 */
    z-index: 100; /* 他の要素より前面に表示 */
}

.nav {
    display: flex; /* ナビゲーションアイテムを横並びに設定 */
    align-items: center; /* アイテムを垂直方向の中心に配置 */
    justify-content: space-between; /* アイテム間に均等なスペースを設定 */
    padding: 25px 0; /* 上下のパディングを設定 */
}

#menu-icon {
    font-size: 28px; /* アイコンのフォントサイズを設定 */
    cursor: pointer; /* クリック可能なカーソルを設定 */
    color: var(--main-color); /* CSS変数を使用して色を設定 */
    display: none; /* デフォルトでは非表示に設定 */
}

.logo {
    font-size: 1.5rem; /* ロゴのフォントサイズを設定 */
    color: var(--main-color); /* CSS変数を使用して色を設定 */
    text-transform: uppercase; /* テキストを大文字に変換 */
    font-weight: 700; /* フォントの太さを強調 */
}




.navbar {
    display: flex; /* ナビゲーションバーのアイテムを横並びに設定 */
    align-items: center; /* アイテムを垂直方向の中心に配置 */
    column-gap: 1rem; /* 列間のギャップを設定 */
    -webkit-text-stroke: 0.05px #FFF; /* テキストに白いストロークを適用 */
}

.nav-link {
    font-size: 1.025rem; /* リンクのフォントサイズを設定 */
    color: var(--main-color); /* CSS変数を使用して色を設定 */
    font-weight: 700; /* フォントの太さを強調 */
}
/* カートアイコンのスタイル */
#cart-icon {
    position: relative; /* 相対位置に配置 */
    font-size: 1.8rem; /* フォントサイズを設定 */
    color: var(--main-color); /* 主要な色を変数から取得 */
    cursor: pointer; /* カーソルをポインターに設定 */
}

/* カートアイコンに表示する数量のスタイル */
#cart-icon[data-quantity="0"]::after {
    content: ""; /* コンテンツを空に設定 */
}

#cart-icon[data-quantity]::after {
    content: attr(data-quantity); /* カート数量を表示 */
    position: absolute; /* 絶対位置に配置 */
    top: -5px; /* 上部に配置 */
    right: -10px; /* 右端に配置 */
    width: 1.25rem; /* 幅を設定 */
    height: 1.25rem; /* 高さを設定 */
    background:  var(--main-color); /* 主要な色を変数から取得 */
    border-radius: 50%; /* 角を丸める */
    color: #ffffff; /* テキストの色を設定 */
    font-size: 0.75rem; /* フォントサイズを設定 */
    font-weight: 500; /* フォントの太さを設定 */
    display: flex; /* Flexboxを使用 */
    align-items: center; /* アイテムの中央揃え */
    justify-content: center; /* アイテムの中央揃え */
}

/* いいねアイコンのスタイル */
#like-icon {
    position: relative; /* 相対位置に配置 */
    font-size: 1.8rem; /* フォントサイズを設定 */
    color: var(--main-color); /* 主要な色を変数から取得 */
    cursor: pointer; /* カーソルをポインターに設定 */
    z-index: 999;
}

/* いいねアイコンに表示する数量のスタイル */
#like-icon[data-quantity="0"]::after {
    content: ""; /* コンテンツを空に設定 */
}

#like-icon[data-quantity]::after {
    content: attr(data-quantity); /* いいね数量を表示 */
    position: absolute; /* 絶対位置に配置 */
    top: -10px; /* 上部に配置 */
    right: -10px; /* 右端に配置 */
    width: 1.25rem; /* 幅を設定 */
    height: 1.25rem; /* 高さを設定 */
    background: var(--main-color); /* 主要な色を変数から取得 */
    border-radius: 50%; /* 角を丸める */
    color: #ffffff; /* テキストの色を設定 */
    font-size: 0.75rem; /* フォントサイズを設定 */
    font-weight: 500; /* フォントの太さを設定 */
    display: flex; /* Flexboxを使用 */
    align-items: center; /* アイテムの中央揃え */
    justify-content: center; /* アイテムの中央揃え */
}


.home {
    position: relative; /* 相対位置指定 */
    background: none; /* 背景を透明に設定 */
    min-height: 600px; /* 最小高さを600pxに設定 */
}

.home-img {
    width: 100%; /* 幅を100%に設定 */
    position: absolute; /* 絶対位置指定 */
    bottom: 0; /* 下端に配置 */
    left: 50%; /* 左端から50%の位置に配置 */
    transform: translate(-50%); /* 中央に配置 */
    display: flex; /* フレックスボックスモデルを使用 */
    justify-content: center; /* アイテムを中央揃え */
}

.home-img::before {
    content: "DEMO"; /* コンテンツに"DEMO"を設定 */
    font-size: 9rem; /* フォントサイズを9remに設定 */
    font-weight: 900; /* フォントの太さを900に設定 */
    margin-top: -350px; /* 上端から-350pxの位置に配置 */
    text-transform: uppercase; /* テキストを大文字に変換 */
    position: absolute; /* 絶対位置指定 */
    text-align: center; /* テキストを中央揃え */
    color: var(--main-color); /* CSS変数を使用して色を設定 */
    z-index: -1; /* Zインデックスを最背面に設定 */
}

.product-title a {
    color: rgb(255, 98, 1); /* リンクの色を明るいオレンジに設定 */
    cursor: pointer; /* カーソルをポインターに設定 */
}



/* 背景星 */
#star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 背景のため他のコンテンツの後ろに */
    overflow: hidden; /* はみ出した星を非表示に */
    background: #000; /* 背景色を黒に */
  }
  
  .star {
    position: absolute;
    background: #ff8800;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  
    /* CSSで星のアニメーションを追加 */
    @keyframes twinkle {
      0% { opacity: 0.3; }
      100% { opacity: 1; }
      }
      
  
  